<div class="grid-container">
    <div class="TituloNombre adjustPosition">NOMBRE</div>
    <div class="TittuloApellido adjustPosition">APELLIDO</div>
    <div class="TextoNombre adjustInput"><input type="text" name="Nombre" id=""></div>
    <div class="TextoApelldio adjustInput"><input type="text" name="Apellido" id=""></div>
    <div class="TituloMail adjustPosition">EMAIL</div>
    <div class="TextoMail adjustInput" style="width: -webkit-fill-available !important;"><input type="email" name="email" id=""></div>
    <div class="TituloClave adjustPosition">CONTRASEÑA</div>
    <div class="TitucloConfirmar adjustPosition">CONFIRMÁ CONTRASEÑA</div>
    <div class="TextoClave adjustInput"><input type="password" name="" id=""></div>
    <div class="TextoConfirmar adjustInput"><input type="password" name="" id=""></div>
    <div class="TituloFecha adjustPosition">FECHA DE NACIMIENTO</div>
    <div class="TituloGenero adjustPosition">GÉNERO</div>
    <div class="TextoFehca adjustInput"><input type="date" name="" id=""></div>
    <div class="TextoGenero adjustInput"><input type="text" name="" id=""></div>
    <div class="BotonRegistro adjustInput"><input type="button" value="REGISTRARSE"></div>
    <div class="ImagenPromocional">
        <img src="https://www.cinemarkhoyts.com.ar/images/reapertura-info-banner.jpg" alt="">
    </div>
  </div>