<div class="grid-container">
    <div class="Titulo">
        <h1>{{peliculasTitulo}}</h1>
    </div>
    <div class="Poster">
        <div class="Imagen">
            <img style="grid-row: 2; grid-column: 2; width: 100%;" src="https://static.cinemarkhoyts.com.ar/Images/ComingSoon/200x285/557.jpg" alt="">
        </div>
    </div>
    <div class="Trailer" style=" text-align-last: center;">
        <div class="Video">
            <iframe width="420" height="315" style="grid-row: 2; grid-column: 2;"
                    src="https://www.youtube.com/embed/BpdDN9d9Jio">
            </iframe>
            <button style="grid-column: 2;grid-row: 3; align-self: center; justify-self: center;">
                RESERVAR
            </button>
        </div>
    </div>
    <div class="Texto">
        <div class="Descripcion">
            <h3>La familia Abbot continuan enfrentandose al terror que significa el mundo exterior. Evelyn (Emily Blunt) junto a sus 3 hijos se adrentarán en el bosque decididos a cruzar los límites, luego de haber descubierto como acabar con los monstruos que atacan a los humanos cuando perciben sonidos. Pronto descubrirán que esos no son los únicos peligros que los esperan en el camino</h3>
        </div>
    </div>
</div>