<div class="grid-container">
    <div class="IngresarCuenta" style="margin-top: auto;">INGRESÁ TU CUENTA</div>
    <div class="TituloUsuario adjustPosition">USUARIO</div>
    <div class="TextoUsuario adjustPosition"><input type="text" name="" id=""></div>
    <div class="TituloClave adjustPosition">CONTRASEÑA</div>
    <div class="TextClave adjustPosition"><input type="password" name="" id=""></div>
    <div class="BotonLogIn"><input type="button" value="LogIn" @click="logInToPage()"></div>
    <div class="Registrarse"><a href="register">Registrate</a></div>
    <div class="ImagenPromocional">
        <img src="https://www.cinemarkhoyts.com.ar/images/reapertura-info-banner.jpg" alt="">
    </div>
  </div>