
<section class="src-components-reserva">
  <div class="container">
    <div v-if="mostrarTicket" class="Ticket">
      <div class="TICKET">TICKET</div>
      <div class="Numero">
        NÚMERO: {{ reserva.nroReserva}}
      </div>
      <div class="Pelicula">
        {{ pelicula.nombre }}
      </div>
      <div class="Dia">
        DIA: {{getDia(funcion.diaHorario)}}
      </div>
      <div class="Hora">
        HORA: {{getHora(funcion.diaHorario)}}
      </div>
      <div class="Sala">
        SALA: {{ sala.descripcion }}
      </div>
      <div class="CantidadEntradas">
        CANTIDAD DE ENTRADAS: {{ reserva.cantidadEntradas}}
      </div>
      <div class="ValorTotal">
        VALOR TOTAL: ${{ reserva.valorTotal}}
      </div>
      <div class="MedioPago">
        MEDIO DE PAGO: {{ reserva.medioPago}}
      </div>
    </div>
    <div class="Datos">
      <div class="Nombre">
        <h2>{{ pelicula.nombre }}</h2>        
      </div>
      <div class="Portada">
        <img alt="Poster" :src="pelicula.url_imagen" style="width: 300px; height: 400px; margin: 0;">
      </div>
      <div class="Funcion">
        {{new Date(funcion.diaHorario).toLocaleString()}}
      </div>
      <vue-form :state="formState" @submit.prevent="postFuncion()">

        <validate tag="div">
          <label for="medioPago">
            <div class="SELECCIONAR-PAGO">
              SELECCIONAR MEDIO DE PAGO
            </div>
          </label>
          <div>
            <label for="efectivo">Efectivo</label>
            <input type="radio" id="efectivo" name="medioPago" value="Efectivo" checked v-model="formData.medioPago">
          </div>
          <div>
            <label for="debito">Débito</label>
            <input type="radio" id="debito" name="medioPago" value="debito" checked v-model="formData.medioPago">
          </div>
          <div class="Tarjeta">
            <label for="tarjeta">Tarjeta</label>
            <input type="radio" id="tarjeta" name="medioPago" value="tarjeta" checked v-model="formData.medioPago">
          </div>
          <div class="MercadoPago">
            <label for="mercadoPago">MercadoPago</label>
            <input type="radio" id="mercadoPago" name="medioPago" value="MercadoPago" v-model="formData.medioPago">
          </div>
          <field-messages name="medioPago" show="$dirty">
            <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>            
          </field-messages>
        </validate>

        <validate tag="div">
          <label for="cantidadEntradas">
            <div class="InputCantidadEntradas">CANTIDAD DE ENTRADAS (Valor ${{this.$store.state.valorEntrada}} c/u)</div>
          </label>
          <div class="Input">
            <input 
            type="number" 
            id="cantidadEntradas"
            name="cantidadEntradas"
            class="form-control"
            autocomplete="off"
            v-model.number="formData.cantidadEntradas"
            required
            :min="cantEntradasMin"
            :max="cantEntradasMax">
          </div>
          <field-messages name="cantidadEntradas" show="$dirty">
            <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>            
            <div slot="min" class="alert alert-danger mt-1">La cantidad mínima es de {{cantEntradasMin}} entradas</div>            
            <div slot="max" class="alert alert-danger mt-1">La cantidad máxima permitida es de {{cantEntradasMax}} entradas</div>  
          </field-messages>
        </validate>        
        
        <p v-if="formData.cantidadEntradas">
          Total : ${{mostrarValorTotal}}
        </p>

        <div class="Reservar">
          <button 
          class="btn btn-primary" 
          :disabled="formState.$invalid" 
          type="submit">
            Reservar
          </button>
        </div>
      </vue-form>
    </div>
  </div>
</section>

