<div>
    <div class="container">
        <h2>Peliculas</h2>
        <div class="editorial-grid">
            <img src="https://static.cinemarkhoyts.com.ar/Images/Posters/5cfaee9ef3caf836be1747fa8f942893.jpg?v=14042021" alt="">
            <img src="https://static.cinemarkhoyts.com.ar/Images/Posters/407275c1b8596227729365a912d3cb41.jpg?v=14042021" alt="">
            <img src="https://static.cinemarkhoyts.com.ar/Images/Posters/d80324294c8142a328d2f65ae9dd8f55.jpg?v=14042021" alt="">
            <img src="https://static.cinemarkhoyts.com.ar/Images/Posters/503c6ddba773ca281762f2522aa93f1e.jpg?v=14042021" alt="">
        </div>
    </div>
    <div class="container">
        <h2>Proximamente</h2>
        <div class="editorial-grid">
            <img src="https://static.cinemarkhoyts.com.ar/Images/ComingSoon/200x285/520.jpg" alt="">
            <img src="https://static.cinemarkhoyts.com.ar/Images/ComingSoon/200x285/534.jpg" alt="">
            <img src="https://static.cinemarkhoyts.com.ar/Images/ComingSoon/200x285/557.jpg" alt="">
            <img src="https://static.cinemarkhoyts.com.ar/Images/ComingSoon/200x285/517.jpg" alt="">
        </div>
    </div>
</div>